[submodule "Github/Offensive-tools/ThreatHunting-Keywords"]
	path = Github/Offensive-tools/ThreatHunting-Keywords
	url = https://github.com/mthcht/ThreatHunting-Keywords
	branch = master
[submodule "Github/Offensive-tools/ThreatHunting-Keywords-sigma-rules"]
	path = Github/Offensive-tools/ThreatHunting-Keywords-sigma-rules
	url = https://github.com/mthcht/ThreatHunting-Keywords-sigma-rules
	branch = master
[submodule "Simulation scripts/Purpleteam"]
	path = Simulation scripts/Purpleteam
	url = https://github.com/mthcht/Purpleteam/
	branch = master
